body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: beige;
}
header{
    text-align: center;
    padding: 25px;
    margin: 0;
    background: rgb(43, 43, 65);
    color: beige;
    font-size: 2rem;
}
